@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@font-face {
  font-family: Roundo;
  src: url("/font/Roundo-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: Roundo;
  src: url("/font/Roundo-SemiBold.otf");
  font-weight: 600;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-body;
  }
}
@layer utilities {
  .wrapper {
    @apply flex justify-start items-center w-full flex-col;
  }
  .contain {
    @apply flex w-[90%] max-w-[1240px];
  }
  .title {
    @apply text-white font-bold text-[38px] sm:text-[45px];
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-block: 200px;
}
